* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  background-color: rgb(3, 3, 77);
  padding: 3rem;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.logo-text {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  margin-left: 1rem;
}

.list-items {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.list-item a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-img img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  display: block;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 10%;
  color: whitesmoke;
}

.hero-title,
.hero-tagline {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
