* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  background-color: rgb(3, 3, 77);
  padding: 3rem;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.logo-text {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  margin-left: 1rem;
}

.list-items {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.list-item a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
